/*
pc width: 1920px
tablet width: 828px
phone width: 378px
*/

/* Overall site*/
* {
    font-family: 'Baloo Chettan 2', cursive;
}
h1 {
    font-size: 150px;
    color: #00ffc5;
}
h2 {
    font-size: 60px;
    color: #00ffc5;
}
h3 {
    font-size: 30px;
    color: #00ffc5;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #0e1b2b;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0e1b2b;
}

body {
    margin: auto;
    padding: 0px;
}




/* Home page */
.banner-contain {
    margin: 0 auto;
    padding; 0;
}
.home-banner {
    height: 860px;
    width: 1920px;
    margin: 0px;
    padding; 0px
    position: relative;
    background-image: url(../images/event-banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-button-red {
    position: absolute;
    width; 500px;
    height: 100px;
    display: block;
    left: 700px;
    top: 810px;
    background-image: url(../images/button-red.png);
    background-size:cover;
}
#countdown {
    text-align: center;
    font-size: 30px;
    color: ghostwhite;
    width: 500px;
}
.upper-body-grid {
    background-image: url(../images/backer.jpg);
    width: 1920px;
    height: 980px;
    padding-top: 50px;
    margin: 0px;
    margin-top: 50px;
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
}
.event-promo {
    background-image: url(../images/home-upper-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1106px;
    height: 659px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.home-account-banner {
    height: 860px;
    width: 1920px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0px;
  
}
.lowerbody {
    margin: 0px;
    padding: 0px;
    height: 6510px;
    width: 1920px;
    background-image:url(../images/backer4.jpg);
    background-size: cover;
}

/* Support section */
.button-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}
.donate-button-home {
    height: 334px;
    width: 325px;
    background-image: url(../images/donation-button-graphic.png);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    margin-top: 650px; 
    margin-left: 70%;
    margin-right: 0%;
}
.text-group-a {
    margin-left: 10%;
    margin-right: 20%;
    padding-top: 480px;
}
.section-text {
    display: grid;
    border: 2px dashed rgba (114, 186, 94, 0.35);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}
.title1 {
    padding-bottom: 0px;
    margin-bottom: 0;
    line-height: 100%;
}
.title2 {
    line-height: 10%;
    margin-bottom: 5%;
    margin-top: 10%;
    line-height: 50px;
}
.title3 {
    color: #ff0032;
    line-height: 10%;
    margin-bottom: 5%;
    margin-top: 10%;
  }
.title4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
.text4 {
    padding-bottom: 0px;
    margin-bottom: 0;
    padding-top: 0px;
    margin-top: 0;
    
}
.text5 {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0;
}

/* Slide show section */
.home-slideshow-header {
    margin-top: 17%;
    margin-bottom: 50px;
    padding: 0;
    line-height: 0;
    text-align: center;
}
.home-slideshow {
    height: 600px;
    width: 600px;
    background-color: #ff0032;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.adopt-button {
    height: 50px;
    width: 100px;
    background-color: #ff0032;
    display: block;
    margin: 0 auto;
}
/* Match made section */
.match-made {
    height: 693px;
    width: 685px;
    background-image: url(../images/button_MM.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    margin-top: 22%;
}
.match-made-contain {
    background-image: url(../images/box-shape.png);
    height: 530px;
    width: 1356px;
    display:block;
    margin: 0 auto;
    margin-top: 5%;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 50px;
    margin-right: 50px;
}
#grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: auto; 
    grid-gap: 10px;
}
#left-column {
    margin-left: 60px;
    margin-right: -60px;
    margin-bottom: 100px;

}
#right-column {
    margin-left: 180px;
    margin-bottom: 100px;
}
#line-height {
    line-height: 80%;
    margin-bottom: 20px;
    margin-top: 115px;
}
#line-height2 {
    line-height: 115%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 50px
}
/* Take the quiz section */
#sub-text {
    margin-left: 20%
}



/* Take the quiz section */
#sub-text {
    display: block;
    margin-left: 800px
    line-height: 20px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#quiz_button_home {
  color: white;
  background-color: transparent;
  height: 50px;
  background-image: url(../images/button-red.png);
  background-size: contain;
  padding: 30px 114px;
  border: 10px;
  cursor: pointer;
  font-size: 30px; 
    margin-top: 20px;
  margin-left: -20px;
    line-height: 5px
}
#quiz_button2 {
  color: white;
  background-color: transparent;
  height: 50px;
  background-image: url(../images/button-red.png);
  background-size: contain;
  padding: 50px 190px;
  border: 10px;
  cursor: pointer;
  font-size: 50px; 
    margin-top: 100px;
  margin-left: 721px;
    line-height: 5px
}

#quiz_button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #22395b;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 5%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal_background */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content_Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

/* Close Button */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Animation */
.animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.7s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* Home_quiz text */
.quiz-section {
    margin-top: 200px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 200px;
}


/* Contact */
#contact-right_home {
    background-image: url(../images/contact-shape-right.png);
    height: 900px;
    width: 800px;
    margin-right: 200px;
    line-height: 20px;
    text-align: center;
}
#contact-contain_home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 100px;
    
}
#contact-text {
    font-size: 100px;
    margin-top: 500px;
    margin-left: 35%;
    line-height: 20%;
     margin-bottom: -5px;

}
#contact-text-h3 {
    margin-left: 36%;
    line-height: 50%;
     margin-bottom: -80px;
}
#contact-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 200px;
    
}
#contact-left {
    height: 900px;
    width: 345px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0;
    margin-left: 100px;
    margin-right: -200px;
    margin-top: 25px
}

#contact-right {
    background-image: url(../images/contact-shape-right.png);
    height: 900px;
    width: 800px;
    margin-right: 200px;
    line-height: 50px;
    text-align: center;
    margin-top: 180px;
}
.contact_h4 {
    margin-bottom: 0px;
    line-height: 5px;
}
.contact_h3 {
    line-height: 10px
}
#email-icon {
    background-image: url(../images/email-icon.png);
    height: 66px;
    width: 96px;
    background-size: cover;
}
#insta-icon {
    height: 97px;
    width: 97px;
    background-image: url(../images/insta-icon.png);
    background-size: contain;
}
#phone-icon {
    background-image: url(../images/call-icon.png);
    height: 97px;
    width: 97px;
    background-size: cover;
}
#location-icon {
    background-image: url(../images/location-icon.png);
    height: 111px;
    width: 70px;
    background-size: contain;
  
}
#house-icon {
    background-image: url(../images/home-icon.png);
    height: 97px;
    width: 97px;
    background-size: cover;
}



#foster_button {
     position: absolute;
    background-color: transparent;
    border: none;
    width; 200px;
    height: 82px;
    display: block;
    left: 330px;
    padding: 20px;
    padding-left: 155px;
    padding-right: 155px;
    font-size: 30px;
    color: aliceblue;
    background-image: url(../images/button-red.png);
    background-size:cover;
    margin-left: 585px;
}



/* Adoption search page */
.body-adopt {
    height: 6900px;
    width: 1920px;
    background-image: url(../images/backer-3.png);
    background-repeat: no-repeat;
}
.banner-adopt {
    width: 1920px;
    height: 860px;
    background-image:url(../images/event-banner.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.meet-our-dogs {
    text-align: center;
}
.slideshow {
    height: 740px;
    width: 740px;
    background-color: #00ffc5;
    display: block;
    margin: 0 auto;
}
.button-quiz {
    height: 100px;
    width: 300px;
    background-color: #00ffc5;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.what-is {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}
.what-is-sub {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
}
.search-header {
    text-align: center;
    line-height: 20px;
   
}

/* Search bar */
#demo-2 input[type=search] {
	width: 820px;
    height: 35px;
    margin-left: 550px;
	padding-left: 100px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}



/* Dog profiles grid */
img {
    width: 100%;
}
.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    grid-row-gap: 50px;
    justify-items: center;
}
.profile-contain {
    display: block;
    width: 370px;
    height: 370px;
    margin-top: 50px;
    cursor: pointer;
}




/* Dog profile page */
.profile-banner {
    height: 910px;
    width: 1920px;
    background-image: url(../images/profile-banner.png.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-body {
    height:3530px;
    width: 1920px;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/backer-lightblue2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.hello {
    margin-left: 180px;
    margin-bottom: 0px;
    margin-top: 1%;
}
.hello-sub {
    margin-left: 180px;
    margin-right: 1000px;
    margin-top: 0px;
}
.describe {
    margin-top: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 900px;
    margin-right: 210px;
    grid-template-rows: 300px;
    margin-bottom: 100px;
    grid-row-gap: 100px;
}
.health-text {
grid-column: 1/3;
margin-left: 170px;
    line-height: 0px;
}
.text-contain {
    width: 300px;
    font-size: 18px;
}
.text-contain-h {
    width: 300px;
    margin-left: 170px;
    font-size: 18px;
}
#adopt_button {
  color: white;
  background-color: transparent;
  height: 50px;
  width: 200px;
  background-image: url(../images/button-red.png);
  background-size: cover;
  padding: 14px 100px;
  margin-left: 830px;
    margin-top: 40px;
  border: none;
  cursor: pointer;
}





/* Navigation */
nav {
    cursor: pointer;
    float: right;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    color: white;
    font-size: 20px;
    position: fixed;
    top: 20px;
    left: 80%;
}

.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0e1b2b;
    min-width: 250px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 30px 16px;
	text-align: center;
    text-decoration: none;
    display: block;
	font-size: 20px;
}

.dropdown-content a:hover {
	background-color: #00ffc5;
	color: black;
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}








/* Javascript carousel */
.carousel {
    position: relative;
    height: 600px;
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
}


.carousel__slide {
   width: 800px;
}

.carousel__image {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.school-talks-img-6 {
    object-position: 50% 5%;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 700ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 600px;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button img:hover, .carousel__nav button:hover {
    transform: scale(1.2);
    transition: all ease-in 0.2s;
}


.carousel__button--left {
    left: -55px;
}

.carousel__button--right {
    right: -55px;
}

.carousel__button img {
    width: 30px;
}

.carousel__button:focus, .carousel__indicator:focus {
  outline: none;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0px;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.2);
    margin: 0 10px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0,0,0,.65);
}





/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */

/* Media queries -- home_slideshow */
@media all and (max-width: 900px) {
    .carousel {
        height: 300px;
        max-width: 600px;
    }
    .carousel__slide {
       width: 600px;
       height: 300px;
    }    
} 

@media all and (max-width: 720px) {
    .carousel {
        height: 250px;
        max-width: 500px;
    }
    .carousel__slide {
       width: 500px;
       height: 250px;
    }    
} 

@media all and (max-width: 600px) {
    .carousel {
        height: 200px;
        max-width: 400px;
    }
    .carousel__slide {
       width: 400px;
       height: 200px;
    }    
} 

@media all and (max-width: 485px) {
    .carousel {
        height: 150px;
        max-width: 350px;
    }
    .carousel__slide {
       width: 350px;
       height: 150px;
    }    
} 


@media all and (max-width: 830px) {
h1 {
    font-size: 100px;
    color: #00ffc5;
}
h2 {
    font-size: 40px;
    color: #00ffc5;
}
h3 {
    font-size: 20px;
    color: #00ffc5;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0e1b2b;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0e1b2b;
}
/* Home page_tablet */
.banner-contain {
    margin: 0 auto;
    padding; 0;
}
.home-banner {
    height: 860px;
    width: 900px;
    margin: 0px;
    padding; 0px
    position: relative;
    background-image: url(../images/tablet_banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-button-red {
    position: absolute;
    width; 500px;
    height: 100px;
    display: block;
    left: 200px;
    top: 810px;
    background-image: url(../images/button-red.png);
    background-size:cover;
}
#countdown {
    text-align: center;
    font-size: 30px;
    color: ghostwhite;
    width: 500px;
}
.upper-body-grid {
    background-image: url(../images/backer.jpg);
    width: 830px;
    height: 580px;
    padding-top: 50px;
    margin: 0px;
    margin-top: 50px;
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
}
.event-promo {
    background-image: url(../images/home-upper-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 806px;
    height: 359px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.home-account-banner {
    height: 600px;
    width: 828px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0px;
}
.lowerbody {
    margin: 0px;
    padding: 0px;
    height: 3264px;
    width: 828px;
    background-image:url(../images/backer4_tablet.jpg);
    background-size: cover;
}

/* Support section_tablet */
.button-text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}
.donate-button-home {
    height: 234px;
    width: 225px;
    background-image: url(../images/donation-button-graphic.png);
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    margin-top: 200px; 
    margin-left: 20px;
    margin-right: %;
}
.text-group-a {
    margin-left: -110px;
    margin-right: 20px;
    padding-top: 110px;
}
.section-text {
    display: grid;
    border: 2px dashed rgba (114, 186, 94, 0.35);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1-px;
}
.title1 {
    padding-bottom: 0px;
    margin-bottom: 0;
    line-height: 30px;
}
.title2 {
    line-height: 10%;
    margin-bottom: 0%;
    margin-top: 0%;
    line-height: 30px;
}
.title3 {
    color: #ff0032;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0%;
  }
.title4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
    .text1 {
        margin-top: 15px;
        font-size: 12px;
    }
    .text2 {
        margin-top: 15px;
        font-size: 12px;
    }
.text4 {
    padding-bottom: 0px;
    margin-bottom: 0;
    padding-top: 0px;
    margin-top: 0;
    font-size: 12px;
    
}
.text5 {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0;
}

/* Slide show section_tablet */
.home-slideshow-header {
    margin-top: 17%;
    margin-bottom: 50px;
    padding: 0;
    line-height: 0;
    text-align: center;
}
.home-slideshow {
    height: 600px;
    width: 600px;
    background-color: #ff0032;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.adopt-button {
    height: 50px;
    width: 100px;
    background-color: #ff0032;
    display: block;
    margin: 0 auto;
}
/* Match made section_tablet */
.match-made {
    height: 293px;
    width: 285px;
    background-image: url(../images/button_MM.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    margin-top: 12%;
}
.match-made-contain {
    background-color: white;
    background-image:none;
    border: 1px;
    border-color: gainsboro;
    height: 530px;
    width: 800px;
    display:block;
    margin: 0 auto;
    margin-top: 5%;
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 50px;
    margin-right: 50px;
}
#grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-auto-rows: auto; 
    grid-gap: 10px;
}
#left-column {
    margin-left: 50px;
    margin-right: -50px;
    margin-bottom: 100px;

}
#right-column {
    margin-left: 80px;
    margin-bottom: 50px;
}
#line-height {
    line-height: 80%;
    margin-bottom: 20px;
    margin-top: 50px;
}
#line-height2 {
    line-height: 115%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px
}
/* Take the quiz section_tablet */
#sub-text {
    margin-left: 20%;
    margin-bottom: 0px;
    line-height: 20px;
}
    .quiz-section {
        margin: 50px;
}
/* Contact */

#contact-text {
    margin-left: 100px;
    line-height: 80%;
    margin-top: 0pc;
}
#contact-text-h3 {
    margin-left: 325px;
    line-height: 10%;
}
#contact-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
}
    .contact_space {
        margin-bottom: 20px;
    }
#contact-left {
    height: 20px;
    width: 245px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:120px;
    margin: 0;
    margin-left: -100px;
    margin-right:-420px;
    margin-top: 20px
}
#contact-right {
    background-image: url(../images/contact-shape-right.png);
    background-size: contain;
    height: 525px;
    width: 367px;
    margin-right: 200px;
    line-height: 30px;
}
.contact_h4 {
    margin-bottom: 95px;
}
.contact_h3 {
    line-height: 10px
}
#email-icon {
    background-image: url(../images/email-icon.png);
    height: 46px;
    width: 66px;
    background-size: cover;
}
#insta-icon {
    height: 67px;
    width: 67px;
    background-image: url(../images/insta-icon.png);
    background-size: contain;
}
#phone-icon {
    background-image: url(../images/call-icon.png);
    height: 67px;
    width: 67px;
    background-size: cover;
}
#location-icon {
    background-image: url(../images/location-icon.png);
    height: 91px;
    width: 50px;
    background-size: contain;
  
}
#house-icon {
    background-image: url(../images/home-icon.png);
    height: 67px;
    width: 67px;
    background-size: cover;
}

#contact-right {
    text-align: center;
}
    #foster_button {
        margin-left: 85px;
        margin-top: -20px;
        height: 50px;
        padding-left: 80px;
         padding-right: 80px;
        line-height: 20px;
    }


/* Adoption search page_tablet screen */
.body-adopt {
    height: 5064px;
    width: 828px;
    background-image: url(../images/tablet_backer_adopt.jpg);
    background-repeat: no-repeat;
}
.banner-adopt {
    width: 900px;
    height: 860px;
    background-image:url(../images/tablet_banner.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.meet-our-dogs {
    text-align: center;
    margin-top: 80px;
    font-size: 80px;
    margin-bottom: 20px;
}
    .what-is {
        line-height: 80px
    }
.slideshow {
    height: 740px;
    width: 740px;
    background-color: #00ffc5;
    display: block;
    margin: 0 auto;
}
.button-quiz {
    height: 60px;
    width: 260px;
    background-color: #00ffc5;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.what-is {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}
.what-is-sub {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
}
.search-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.search-contain {
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.search-bar {
    height: 60px;
    width: 800px;
    background-color: gainsboro;
    margin-right: 10px;
    
}
.search-refine {
    height: 60px;
    width: 400px;
    background-color: gainsboro;
    margin-left: 10px;
}
/* Search bar_tablet screen */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}



/* Dog profiles grid_tablet screen */
img {
    width: 90%;
}
.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
    margin-bottom: 600px
}
.profile-contain {
    display: block;
    width: 270px;
    height: 270px;
    margin-top: 20px;
    cursor: pointer;
}




/* Dog profile page_tablet screen */
.profile-banner {
    height: 910px;
    width: 1920px;
    background-image: url(../images/profile-banner.png.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-body {
    height:2300px;
    width: 828px;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/tablet_profile_backer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.hello {
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 1%;
}
.hello-sub {
    margin-left: 20px;
    margin-right: 500px;
    margin-top: 0px;
}
.describe {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 20px;
    grid-template-rows: 20px;
    margin-bottom: 50px;
    grid-row-gap: 200px;
    margin-top: 210px;
}
.health-text {
grid-column: 1/3;
margin-left: 100px;
margin-bottom: 0;
    line-height: 40px;
    margin-top: 50px;
}
.text-contain {
    width: 300px;
    margin-bottom: 10px;
}
.text-contain-h {
    width: 300px;
    margin-left: 100px;
}
    .likes-text {
        line-height: 40px;
        margin-bottom: 0;
    }
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#adopt_button {
  color: white;
  background-color: transparent;
  height: 50px;
  width: 200px;
  background-image: url(../images/button-red.png);
  background-size: cover;
  padding: 14px 100px;
  margin-left: 280px;
    margin-top: 40px;
  border: none;
  cursor: pointer;
}
    
    #quiz_button2 {
        display: block;
        margin: auto;
        margin-top: 40px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 13px;
        line-height: 30px;
        
        
    }
 
}


@media all and (max-width: 400px) {
    .carousel {
        height: 120px;
        max-width: 300px;
    }
    
    .carousel__slide {
       width: 300px;
       height: 120px;    
} 
/* Media queries -- text */
h1 {
    font-size: 50px;
    color: #00ffc5;
}
h2 {
    font-size: 30px;
    color: #00ffc5;
}
h3 {
    font-size: 15px;
    color: #00ffc5;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0e1b2b;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #0e1b2b;
} 
/* Adoption search page */
.body-adopt {
    height: 3580px;
    width: 378px;
    background-image: url(../images/adopt_backer_phone.jpg);
    background-repeat: no-repeat;
}
.banner-adopt {
    width: 375px;
    height: 860px;
    background-image:url(../images/home_banner_phone.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.meet-our-dogs {
    text-align: center;
}
.button-quiz {
    height: 60px;
    width: 200px;
    background-color: #00ffc5;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.what-is {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
}
.what-is-sub {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}
.search-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 0px;
}
.search-contain {
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.search-bar {
    height: 60px;
    width: 200px;
    background-color: gainsboro;
    margin-right: 10px;
    
}
.search-refine {
    height: 60px;
    width: 100px;
    background-color: gainsboro;
    margin-left: 10px;
    
}
/* Search bar */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

/* media queries -- Dog profiles grid */
img {
    width: 100%;
}
.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    justify-items: center;
}
.profile-contain {
    display: block;
    width: 170px;
    height: auto;
    margin-top: 20px;
    cursor: pointer;
    
}
    #p9 {
        display: none;
    }
    #p10 {
        display: none;
        
    }
    #p11 {
        display: none;
       
    }
     #p12 {
        display: none;
        
    }
     #p13 {
        display: none;
        
    }
     #p14 {
        display: none;
        
    }
     #p15 {
        display: none;
       

    }

/*media queries -- adopt page_contact*/
    #contact_adopt_page {
        margin-top: -610px;
        color: aliceblue;
    }
    
    
/* Media queries -- home page */
    .banner-contain {
    margin: 0 auto;
    padding; 0;
}
.home-banner {
    height: 780px;
    width: 378px;
    margin: 0px;
    padding; 0px
    position: relative;
    background-image: url(../images/home_banner_phone.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner-button-red {
    position: absolute;
    width: auto;
    height: 50px;
    display: block;
    left: 70px;
    top: 753px;
    background-image: url(../images/button-red.png);
    background-size:cover;
}
#countdown {
    text-align: center;
    font-size: 20px;
    color: ghostwhite;
    width: 250px;
    transform: translateY(-12px);
}
.upper-body-grid {
    background-image: url(../images/backer.jpg);
    width: 378px;
    height: 193px;
    padding-top: 10px;
    margin: 0px;
    margin-top: 50px;
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
}
.event-promo {
    background-image: url(../images/home-upper-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 218px;
    height: 130px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}
.home-account-banner {
    height: 213px;
    width: 378px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0px;
}
.lowerbody {
    margin: 0px;
    padding: 0px;
    height: 2800px;
    width: 378px;
    background-image:url(../images/backer4_phone.jpg);
    background-size: cover;
}

/* Media queries -- Home_Support section */
.button-text-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
}
.donate-button-home {
    height: 79px;
    width: 79px;
    background-image: none;
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    margin-top: 100px; 
    margin-left: 20px;
    margin-right: 0%;
}
.text-group-a {
    width: 358px;
    margin-left: 80px;
    margin-right: 40px;
    padding-top: 10px;
    transform: translateY(-46%);
}
.section-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.title1 {
    padding-bottom: 0px;
    margin-bottom: 0;
    line-height: 100%;
    margin-right: 80px;
    margin-top: 25px;
}
.title2 {
    line-height: 0%;
    margin-bottom: 0;
    margin-top: 30px;
}
.title3 {
    color: #ff0032;
    line-height: 0%;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 100px;
  }
.title4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
 .text1 {
        margin-right: 80px;
}
 .text2 {
        margin-right: 80px;
}
.text4 {
    padding-bottom: 0px;
    margin-bottom: 0;
    padding-top: 0px;
    margin-top: 0;
    font-size: 10px;
    margin-right: 100px;
    
}
.text5 {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-size: 0px;
}

/* Slide show section */
.home-slideshow-header {
    margin-top: -25%;
    margin-bottom: 50px;
    padding: 0;
    line-height: 0;
    text-align: center;
}
/* Match made section */
.match-made {
    height: 143px;
    width: 145px;
    background-image: url(../images/button_MM.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}
.match-made-contain {
    background-image: url(../images/box-shape-phone.png);
    height: 670px;
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    background-size: cover;
    box-shadow: 
}
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto; 
    grid-gap: 10px;
}
#left-column {
    margin-left: 10px;
    margin-right: -70px;
    margin-bottom: 20px;

}
#right-column {
    margin-left: 90px;
    margin-bottom: 20px;
}
#line-height {
    line-height: 80%;
    margin-bottom: 20px;
    margin-top: 40px;
}
#line-height2 {
    line-height: 115%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
    
/* Take the quiz section */
#sub-text {
    margin-left: 75px;
    margin-bottom: 0px;
    line-height: 20px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#quiz_button {
  color: white;
  background-color: transparent;
  height: 46px;
  width: 200px;
  background-image: url(../images/button-red.png);
  background-size: cover;
  padding: 14px 100px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#quiz_button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #22395b;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

/* Close Button */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.7s;
  animation: animatezoom 0.7s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
     
.quiz-section {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
    
    /* Contact */
#contact-right_home {
    background-image: none;
    height: 500px;
    width: 500px;
    margin-right: 0px;
    margin-left: -100px;
    line-height: 20px;
    margin-top: 100px;
    text-align: center;
    }
/* Contact */
#contact-text {
    margin-left: 30%;
    line-height: 20%;
    font-size: 30px;
}
#contact-text-h3 {
    margin-left: 10%;
    line-height: 10%;
}
#contact-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    
}
#contact-left {
    background-image: none;
    height: 550px;
    width: 65px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin-top: 100px;
    margin-left: -20px;
}
#contact-right {
    background-image: none;
    height: 600px;
    width: 200px;
    display: grid;
    margin-right: 20px;
}
    .contact_space {
        line-height: 14px;
    }
#email-icon {
    background-image: url(../images/email-icon.png);
    height: 43px;
    width: 63px;
    background-size: cover;
}
#insta-icon {
    height: 57px;
    width: 57px;
    background-image: url(../images/insta-icon.png);
    background-size: contain;
}
#phone-icon {
    background-image: url(../images/call-icon.png);
    height: 57px;
    width: 57px;
    background-size: cover;
}
#location-icon {
    background-image: url(../images/location-icon.png);
    height: 81px;
    width: 51px;
    background-size: contain;
  
}
#house-icon {
    background-image: url(../images/home-icon.png);
    height: 57px;
    width: 57px;
    background-size: cover;
}

#contact-right {
    text-align: center;
}
    
/* Media queries -- Dog profile page */
.profile-banner {
    height: 780px;
    width: 378px;
    background-image: url(../images/profile_banner_phone.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-body {
    height: 1780px;
    width: 378px;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/profile_backer_phone.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.hello {
    margin-left: 9px;
    margin-bottom: 0px;
    margin-top: -10px;
}
.hello-sub {
    margin-left: 10px;
    margin-right: 200px;
    margin-top: 0px;
}
.describe {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-rows: 50px;
    margin-bottom: 100px;
    
}
.health-text {
grid-column: 1/3;
margin-left: 0px;
padding-bottom: 20px;
margin-top: -40px;
}
.text-contain {
    width: 160px;
    margin-top: -20px;
    margin-bottom: 22px;
    font-size: 12px;
    
}
.text-contain-h {
    width: 170px;
    margin-left: 0px;
    margin-top: -20px;
    margin-bottom: 22px;
    font-size: 12px;
}
    .likes-text {
        padding-bottom: 20px;
    }
    .dislikes-text {
        padding-bottom: 0px;
    }
    #adopt_button {
        margin-left: 55px;
    }
}





    
    
    
    
